.page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
}
.logo {
  width: 190px;
  height: 51.83px;
  margin-left: 40px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  column-gap: 39px;
  padding: 0 55px;
}
.header__nav-link {
  font-family: "PT Sans", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #6f7682;
}
.header__nav-person {
  width: 30px;
  height: 30px;
  margin: 0 120px;
} 
.header__nav-login {
  font-family: "PT Sans", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.12px;
  text-decoration: none;
  color: #6f7682;
  padding: 0 12px; 
}
.header__content-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.header__dropdown {
  width: 31px;
  height: 31px;
  left: 75px;
  margin-top: 222px;
  margin-left: -1305px;
}
.header__menu {
  margin-top: 222px;
  margin-left: 35px;
}
.header__menu-link {
  font-family: "PT Sans", sans-serif, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: #4798DE;
}
.header__search-form {
  border: 1px solid #979595;
  display: inline-flex;
  height: 50px;
  margin-top: 222px;
  margin-left: 50px;
  padding: 0 0 0 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header__search-form-txt {  
  font-family: "PT Sans", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 439px;
  outline: none;
  
}
.header__search-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  width: 84px;
  height: 50px;
  margin: 0 0 0 10px;
  background: #4798DE;
}

.footer {
  width: 100vw;
  font-family: "PT Sans", sans-serif, serif;
  color: rgba(111, 118, 130, 1);
  font-size: 14px;
  background-color: #f1f2f6;
  margin: 0;
  padding: 0;
}

.footer__content {
  display: grid;
  width: 100vw;
  grid-template-areas:
    "logo customer company contacts"
    "icon customer company contacts"
    "card customer subscription subscription";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.footer__content_logo_image {
  margin: 37px;
  grid-area: logo;
  max-height: 51.82975769042969px;
  max-width: 190px;
  left: 75px;
  border-radius: 0px;
}

.footer__content_icon-social {
  grid-area: icon;
  margin: 10px;
  padding-left: 32px;
}

.footer__content_card {
  grid-area: card;
  margin: 10px;
  padding-left: 32px;
}

.footer__content-customer {
  grid-area: customer;
}

.footer__content-company {
  grid-area: company;
}

.footer__content-contacts {
  grid-area: contacts;
}

.footer__content-subscription {
  grid-area: subscription;
  align-items: end;
}

.footer__content_icon-social_link-vk,
.footer__content_icon-social_link-instagram,
.footer__content_icon-social_link-facebook {
  padding: 2px;
  width: 32px;
  height: 32px;
}

.footer__content_card_MasterCard {
  padding: 2px;
  width: 38px;
  height: 28px;
}

.footer__content_card_MIR {
  padding: 2px;
  width: 35px;
  height: 25px;
}

.footer__content_card_VISA {
  padding: 2px;
  width: 35px;
  height: 30px;
}

.footer__content-customer_nav,
.footer__content-company_nav,
.footer__content-contacts_nav {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  margin: 32px;
}

.footer__content-customer_nav-title,
.footer__content-company_nav-title,
.footer__content-contacts_nav-title {
  font-weight: bolder;
  list-style: none;
  font-size: 16px;
  color: rgb(21, 36, 79, 1);
}

.footer__content-customer_nav-link,
.footer__content-company_nav-link,
.footer__content-contacts_nav-link {
  padding: 2%;
  font-weight: normal;
  text-decoration: none;
  color: rgba(111, 118, 130, 1);
}

.footer__content-customer_nav-link:hover,
.footer__content-company_nav-link:hover,
.footer__content-contacts_nav-link:hover {
  text-decoration: underline;
  color: rgba(108, 219, 126, 1);
}

.footer__content-subscription_form {
  justify-self: flex-start;
  width: 733px;
  margin-left: 32px;
}

.footer__content-subscription_input {
  border: 0px;
  padding: 0px;
  width: 385px;
  height: 40px;
}

.footer__content-subscription_button {
  border: 0px;
  padding: 0px;
  background-color: #4798de;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: 40px;
}

.footer__content-subscription_text {
  width: 385px;
  text-align: left;
}
